<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <br>

<h1 style="text-align: left; text-decoration: underline">Resources:</h1>
  <ul style="list-style-type: none;">
    <li *ngFor="let model of resources" style=" padding-bottom: 5px; border-bottom: slategrey; border-bottom-style: solid;">
    <div *ngIf="model['available']" style="background-color: springgreen" fxLayout="row">
        <h2>{{model['equipmentId']}}</h2>
        <div fxFlex></div>
        <h2>{{model['location']}}</h2>
    </div>
    <div *ngIf="!model['available']" style="background-color: red" fxLayout="row">
      <h2>{{model['equipmentId']}}</h2>
      <div fxFlex></div>
      <h2>{{model['location']}}</h2>
    </div>
  </li>
  </ul>
</div>

